PUID="1000"
PGID="1000"
DOMAIN="alvorada.site"
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_TUNNEL_TOKEN=""


# concord

SERVER_ADDR="0.0.0.0"
SERVER_PORT="6464"

CONFIG_PATH="/config/config.toml"
DATABASE_URL="sqlite:///data/database.db"