import /etc/caddy/extras/*.caddy

(common_tls) {
    tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

files.{$DOMAIN} {
    import common_tls

    reverse_proxy filebrowser:6464
}

notes.{$DOMAIN} {
    import common_tls
    
    reverse_proxy silverbullet:3000
}

music.{$DOMAIN} {
    import common_tls
    
    reverse_proxy polaris:5050
}

movies.{$DOMAIN} {
    import common_tls
    
    reverse_proxy jellyfin:8096
}

torrent.{$DOMAIN} {
    import common_tls

    reverse_proxy qbittorrent:8080
}