import /etc/caddy/extras/*.caddy

:80, :443, alvorada.site {
    handle /filebrowser* {
        reverse_proxy filebrowser:6464
    }

    handle /silverbullet* {
        reverse_proxy silverbullet:3000
    }
}